<div class="container-fluid">

    <p>
  <div class="row">



          <div class="col-md-4">

            <div class="card">
      <div class="card-header">
        <i class="bi bi-clock"></i>
        <h4 style="display:inline;">W I S H L I S T</h4>
      </div>
      <div class="card-body" style="min-height: 150px;max-height: 800px;">
        <ul>
          <li *ngFor = "let line of goalDataMorning let i = index">
              {{line.goal}}
          </li>
        </ul>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Target" [(ngModel)]='goalMorning' aria-label="Target" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-warning" (click)='handleGoalClickMorning()' type="button">Commit</button>
            </div>
          </div>
      </div>
    </div>
          </div>


      <div class="col-md-4">

        <div class="card">
  <div class="card-header">
    <i class="bi bi-clock"></i>
    <h4 style="display:inline;">P L A C E S</h4>
  </div>
  <div class="card-body" style="min-height: 150px;max-height: 800px;">
    <ul>
      <li *ngFor = "let line of goalDataAfternoon let i = index">
          {{line.goal}}
      </li>
    </ul>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Target" [(ngModel)]='goalAfternoon' aria-label="Target" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-warning" (click)='handleGoalClickAfternoon()' type="button">Commit</button>
      </div>
    </div>
  </div>
</div>
      </div>

      <div class="col-lg-4">
        <div class="card">
  <div class="card-header">
    <i class="bi bi-clock"></i>
    <h4 style="display:inline;">E X P E R I E N C E S</h4>
  </div>
  <div class="card-body" style="min-height: 150px;max-height: 800px;">
    <ul>
      <li *ngFor = "let line of goalDataEvening let i = index">
          {{line.goal}}
      </li>
    </ul>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Target" [(ngModel)]='goalEvening' aria-label="Target" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-warning" (click)='handleGoalClickEvening()' type="button">Commit</button>
      </div>
    </div>
  </div>
</div>

      </div>
  </div>

</div>
